{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>SiftSub</h1>
    <p class="subtitle">Smarter Subscription Management</p>
    <p class="tagline">
      On One Platform, <br />
      Manage All Subscriptions
    </p>
    <p class="features">
      Featuring subscription management, payment reminders, and spending insights
    </p>
    <div class="cta-buttons">
      <a href="{% url 'signup' %}" class="btn light">Sign Up</a>
      <a href="{% url 'signin' %}" class="btn outline">Log In</a>
    </div>
  </div>
</section>
{% endblock %}
