{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="logo-container">
    <div class="sub-container">
        <img 
            src="{% static 'images/#.svg' %}" 
            alt="Subscription Tracker" 
        />
    </div>
    <img 
        src="{% static 'images/#.svg' %}" 
        alt="Text reads: SiftSub" 
    />
</section>
{% if not user.is_authenticated %}
<section>
    <h1>Login</h1>
    <form class="login" action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="name" value="{{ next }}" />
        <button type="submit" class="btn submit">Login</button>
    </form>
</section>
{% endif %}
{% endblock %}