{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<section class="form-page">
  <div class="form-container-box">
    <h2>{{ view.object.pk|yesno:"Edit Subscription,Add Subscription" }}</h2>
    
    <form method="POST" enctype="multipart/form-data" class="form-container">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
      </div>

      <div class="form-group">
        {{ form.cost.label_tag }}
        {{ form.cost }}
        {{ form.cost.errors }}
      </div>

      <div class="form-group">
        {{ form.renewal_date.label_tag }}
        {{ form.renewal_date }}
        {{ form.renewal_date.errors }}
      </div>

      <div class="form-group">
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.status.errors }}
      </div>

      <div class="form-group">
        {{ form.logo.label_tag }}
        {{ form.logo }}
        {{ form.logo.errors }}
      </div>

      <div class="form-group">
        {{ form.uploaded_logo.label_tag }}
        {{ form.uploaded_logo }}
        {{ form.uploaded_logo.errors }}
      </div>

      <button type="submit" class="btn submit">Save</button>
    </form>
  </div>
</section>
{% endblock %}
